/* Variables */
:root {
    /* Other colours used */
    --red: #ff0000;
    --light-grey: #bbb;

    /* Default Theme */
    --bg-color: #444;
    --secondary-color: #333;
    --text-color: #fff;
}

/* Fonts */
@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Class Variables */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
}

a.disabled {
    color: grey !important;
}

.toggler {
    cursor: pointer;
}

/* Site Styles */

* {
    font-family: "PT Sans", "Roboto", sans-serif;
    margin: 0;
}

body {
    display: block;
    padding: 0 2.5em;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

#about p {
    width: 75%;
}

.mobile-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    margin: 0 -2.5em;
    padding: 0 2.5em;
    background-color: var(--secondary-color);
}

.brand a {
    font-size: 1.75em;
    text-decoration: none;
    color: var(--text-color);
}

.button {
    border: none;
    background: none;
}

.menu-icon {
    display: flex;
    justify-content: center;
}

.nav-links {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    top: -275px;
    margin-bottom: -175px;
    z-index: -1;
}

.nav-links.show,
.nav-links.hide {
    display: flex;
    transition-property: top, margin-bottom;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.show {
    top: 0px;
    margin: 0px;
}

.nav-links {
    transition: all;
    background-color: var(--secondary-color);
    margin-left: -1em;
    margin-right: -1em;
}

.nav-link-item {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 0.5em;
    text-align: center;
}

.nav-link-item a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0.5em;
}

#heroSection p,
#about p {
    text-align: center;
    font-size: 1.25em;
}

#about {
    gap: 1em;
}

#portraitContainer {
    margin: 0.5em;
    border-radius: 10px;
    background-color: black;
}

#projects {
    gap: 1em;
    width: 100%;
}

.project-item {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    height: 15em;
    background-color: var(--light-grey);
}

.project-image-container {
    width: 50%;
}

.project-image-desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left 50%;
    border-radius: 0.5em;
}

.project-image-mobile {
    height: 100%;
    border-radius: 0.5em;
}

.project-description-container {
    display: flex;
    padding: 0.25em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.project-description-container p {
    text-align: center;
    font-size: 0.85em;
    color: black;
}

.project-description-container h3 {
    color: black;
}

.project-tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 85%;
    justify-content: center;
}

.project-tag-container > div {
    min-width: 35px;
    width: fit-content;
    text-align: center;
    background-color: var(--red);
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    font-size: 0.85em;
    padding: 0.33em;
}

.project-footer {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.project-footer > a {
    text-decoration: none;
    color: black;
}

#contact p:first-of-type {
    margin: 0 0 1em 0;
}

#contact p a {
    color: var(--text-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em 0;
    gap: 1em;
}

#contact-form input,
#contact-form textarea {
    width: 90%;
    padding: 1em 0.5em;
    border: 2px solid var(--red);
    border-radius: 10px;
    font-size: 0.75em;
    background-color: var(--light-grey);
}
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: black;
}

#contact-form textarea {
    height: 150px;
}

#contact-form button {
    padding: 0.5em 1.25em;
    border: 2px solid var(--red);
    border-radius: 10px;
    font-size: 0.75em;
    background-color: var(--light-grey);
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 -2.5em;
    padding: 0.5em 2.5em;
    gap: 1em;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-link {
    height: 2em;
}

#copyright {
    font-size: 0.75em;
    text-align: center;
}

/* Media Queries */

@media screen and (min-width: 1201px) {
    #menuButton,
    #closeButton {
        display: none;
    }

    .container {
        width: 100%;
    }

    body {
        font-size: 1.25em;
        padding: 0 5em;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
        margin: 0 -5em;
        padding: 0 5em;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 33%;
        z-index: 0;
        margin: 0 1em;
    }

    .nav-links.show,
    .nav-links.hide {
        transition: none;
    }

    .nav-link-item {
        border: none;
        padding: 0;
    }

    .mobile-bar {
        margin: 0;
    }

    #portraitContainer {
        width: fit-content;
        padding: 0 1em;
    }

    .project-item {
        width: 75%;
    }

    #contact-form {
        width: 50%;
    }

    footer {
        height: 100px;
        margin: 0 -5em;
        padding: 1em 5em;
    }
}
