/* Fonts */
@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PTSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Class Variables */

/* Site Styles */

* {
    font-family: "PT Sans", "Roboto", sans-serif;
    margin: 0;
}

body {
    display: block;
    margin: 0.5em;
}

.mobile-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
    background-color: white;
    margin: -0.5em;
    padding: 0.5em;
    margin-bottom: 0em;
}

.brand a {
    font-size: 1.75em;
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: flex;
    justify-content: center;
}

.nav-links {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    top: -225px;
    margin-bottom: -150px;
    z-index: -1;
}

.nav-links.show,
.nav-links.hidden {
    display: flex;
    transition-property: top, margin-bottom;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.show {
    top: 0px;
    margin: 0px;
}

.nav-links {
    transition: all;
}

.nav-link-item a {
    text-decoration: none;
    color: black;
}

.active {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0.5em;
}

p {
    text-align: center;
}
