@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: white;
  --foreground: black;
  --muted: var(--color-neutral-300);
}

.dark {
  --background: var(--color-neutral-800);
  --foreground: white;
  --muted: var(--color-neutral-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
}
