@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 2rem;
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/GeistMono-VariableFont_wght.ttf") format("truetype");
}

@theme {
  --default-font-family: "Geist Mono", "sans-serif";
}
