---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Page not found!"} tabTitle="404: Not Found">
    <p class="text-center text-lg md:text-xl">
        Looks like this page does not exist yet! If you think this is possibly
        an error, feel free to let me know using my <a
            class="underline"
            href="/#contact">Contact</a
        > form.
    </p>
</Layout>
