---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import GithubSvg from "../svgs/github.svg";
import LinkedInSvg from "../svgs/linkedin.svg";
import XSvg from "../svgs/x.svg";

const githubLink = "https://github.com/brendokht";
const xLink = "https://x.com/brendokht";
const linkedInLink = "https://linkedin.com/in/brendenkohut";
---

<Layout>
  <section>
    <h1>Contact</h1>
    <p>
      If you would like to get in touch, feel free to contact me via these
      platforms.
    </p>
    <div>
      <ul class="list-none flex md:gap-32 p-0 gap-16">
        <li>
          <a href={githubLink}
            ><GithubSvg
              width={48}
              height={48}
              class="*:fill-black! *:dark:fill-white! hover:scale-95 transition-transform duration-300"
            /></a
          >
        </li>
        <li>
          <a href={linkedInLink}
            ><LinkedInSvg
              width={48}
              height={48}
              class="hover:scale-95 transition-transform duration-300"
            /></a
          >
        </li>
        <li>
          <a href={xLink}
            ><XSvg
              width={48}
              height={48}
              class="*:fill-black! *:dark:fill-white! hover:scale-95 transition-transform duration-300"
            /></a
          >
        </li>
      </ul>
    </div>
  </section>
  <ContactForm />
</Layout>
