---
import ContactForm from "../components/ContactForm.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <Title title="Contact" />
    <section class="w-full text-center text-xl">
        Feel free to use this form to contact me!
    </section>
    <section class="my-8 flex h-full w-full grow flex-col items-center">
        <ContactForm />
    </section>
</Layout>
