---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <Title title="Contact" />
    <section class="w-full text-center text-xl">
        Feel free to use this form to contact me!
    </section>
    <section class="flex flex-col w-full items-center my-8 flex-grow h-full">
        <form
            name="contact"
            method="POST"
            data-netlify="true"
            data-netlify-recaptcha="true"
            class="bg-white rounded-lg min-h-fit gap-2 py-6 px-8 max-w-lg w-[90%] sm:w-3/4 flex flex-col justify-evenly"
        >
            <div class="hidden">
                <label>
                    Don’t fill this out if you’re human: <input
                        name="bot-field"
                    />
                </label>
            </div>
            <div class="flex flex-col">
                <label for="name">Name</label>
                <input
                    class="my-2 h-6 py-4 px-2 rounded-md border border-black focus:outline-purple-700"
                    type="text"
                    name="name"
                    placeholder="John Smith"
                />
            </div>
            <div class="flex flex-col">
                <label for="email">Email</label>
                <input
                    class="my-2 h-6 py-4 px-2 rounded-md border border-black focus:outline-purple-700"
                    type="text"
                    name="email"
                    placeholder="johnsmith@example.com"
                />
            </div>
            <div class="flex flex-col">
                <label for="message">Message</label>
                <textarea
                    class="min-h-48 my-2 h-6 py-2 px-2 rounded-md border border-black focus:outline-purple-700"
                    name="message"
                    placeholder="Hey Brenden!"></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <div class="flex justify-center mt-4">
                <button
                    class="bg-gradient-to-br from-purple-700 to-fuchsia-700 text-white py-1 px-9 rounded-lg hover:scale-105 transition duration-300"
                    type="submit">Submit</button
                >
            </div>
        </form>
    </section>
</Layout>
