---
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <section class="w-full text-center text-xl">
        Feel free to use this form to contact me!
    </section>
    <section class="flex flex-col w-full items-center my-8 flex-grow h-full">
        <ContactForm />
    </section>
</Layout>
