---
import { Image } from "astro:assets";
import project1Img from "../images/mass-message-app.png";
import project2Img from "../images/odin-calculator.png";
import project3Img from "../images/placeholder.png";
import Layout from "../layouts/Layout.astro";
import ProjectContainer from "../components/ProjectContainer.astro";
---

<Layout title="Home">
    <section class="flex justify-center min-h-[26rem]">
        <div
            class="flex flex-col flex-1 justify-end items-center xl:py-16 py-24 px-4 min-h-96 max-w-3xl"
        >
            <h1
                class="text-5xl md:text-6xl text-center font-semibold py-8 leading-tight"
            >
                Hey, I'm Brenden Kohut
            </h1>
            <p class="text-lg md:text-xl text-center">
                A Full-stack Developer dedicated to building scalable and
                high-quality applications that drive results
            </p>
        </div>
    </section>
    <section
        class="flex flex-col w-screen justify-start items-center my-8 flex-grow"
    >
        <h2 class="font-semibold text-4xl pb-14 text-center">
            Take a look at my projects!
        </h2>
        <div
            class="flex md:flex-row flex-wrap justify-evenly items-center px-8 lg:gap-16 gap-8"
        >
            <ProjectContainer>
                <Image
                    slot="image"
                    src={project1Img}
                    class="rounded-md"
                    alt="Image of Mass Message App"
                />
                <h2 slot="title">Mass Message App</h2>
                <p slot="description">
                    A school project for my Mobile Development class. Users can
                    import their contacts so they can send a message or email to
                    multiple of them separately.
                </p>
            </ProjectContainer>
            <ProjectContainer>
                <Image
                    slot="image"
                    src={project2Img}
                    class="rounded-md"
                    alt="Image of Calculator Website"
                />
                <h3 slot="title">Calculator</h3>
                <p slot="description">
                    A simple calculator website, that was done while doing parts
                    of the Odin Project. Supports basic and some more
                    intermediate mathematical operations.
                </p>
            </ProjectContainer>
            <ProjectContainer>
                <Image
                    slot="image"
                    src={project3Img}
                    class="rounded-md"
                    alt="No image yet, sorry!"
                />
                <h3 slot="title">Blogging Website</h3>
                <p slot="description">
                    A work in progress web application, that will allow users to
                    sign up and post blog posts using a Markdown editor, comment
                    on others' posts, and browse posts, even if they are not
                    registered.
                </p>
            </ProjectContainer>
        </div>
    </section>
</Layout>
