---
import AscndGGImage from "../images/ascnd-gg-sign-in.png";
import LinkButton from "../components/LinkButton.astro";
import CacatuaImage from "../images/cacatua.png";
import ChatSystemImage from "../images/chat-system.png";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TemplateWebsiteImage from "../images/template-company-website.png";
import type { ProjectType } from "../types";

const featuredProjects: Array<ProjectType> = [
  {
    title: "Ascnd GG",
    description:
      "Competitive Esports platform for hosting and competing in events.",
    href: "/projects/ascnd-gg/",
    image: AscndGGImage,
  },
  {
    title: "Cacatua",
    description:
      "Open-source project management and communication application.",
    href: "/projects/cacatua/",
    image: CacatuaImage,
  },
  {
    title: "Chat System",
    description: "Realtime messaging Android application.",
    href: "/projects/chat-system/",
    image: ChatSystemImage,
  },
  {
    title: "Template Company Website",
    description: "Templated Astro website with Sanity integrated.",
    href: "/projects/template-company-website/",
    image: TemplateWebsiteImage,
  },
];
---

<Layout>
  <section id="hero" class="not-prose flex justify-center my-32">
    <div class="flex flex-col gap-4 max-w-xl">
      <h1 class="text-4xl font-extrabold">Hey I'm Brenden Kohut</h1>
      <p>Software Developer</p>
      <p>
        Junior Developer based in Ontario, Canada, committed to learning and
        building high quality software.
      </p>
      <LinkButton href="/about/">More About Me</LinkButton>
    </div>
  </section>

  <section
    id="projects-highlights"
    class="md:max-w-none max-w-xl flex flex-col"
  >
    <h1>Featured Projects</h1>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 mb-4">
      {featuredProjects.map((project) => 
          <ProjectCard
            title={project.title}
            description={project.description}
            href={project.href}
            image={project.image}
        />)}
    </div>
    <LinkButton href="/projects/">View More</LinkButton>
  </section>

  <section id="contact-cta" class="flex flex-col">
    <h1>Contact</h1>
    <p>
      If you like what you see and want to contact me, feel free to go to the
      <a href="/contact/">contact</a>
      page to get in touch. Thanks for viewing my portfolio!
    </p>
    <a href="#header">Back to top</a>
  </section>
</Layout>
