---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Success</h1>
  <p>
    The form has been successfully submitted. Thank you for visiting. I will try
    to reach out soon!
  </p>
</Layout>
