---







import { ArrowRight } from "@lucide/astro";

const { reference, text } = Astro.props;
---

<a
  href={reference}
  class="flex h-12 min-w-20 items-center justify-center gap-2 rounded-lg bg-linear-to-br from-[#f46b45] to-[#eea849] px-4 py-2 transition-transform duration-200 ease-in-out hover:scale-99 hover:cursor-pointer"
>
  <div>
    {text}
  </div>
  <ArrowRight />
</a>
