---

---

<form
  name="contact"
  action="/success/"
  method="POST"
  data-netlify-recaptcha="true"
  data-netlify="true"
  class="flex min-h-fit w-full max-w-lg flex-col justify-evenly gap-2 rounded-lg bg-white px-8 py-6 md:w-3/4 dark:bg-black"
>
  <div class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </div>
  <div class="flex flex-col">
    <label for="name">Name</label>
    <input
      class="my-2 h-6 rounded-md border border-black px-2 py-4 focus:outline-purple-700 dark:border-white dark:bg-black dark:text-white"
      type="text"
      required
      autocomplete="name"
      id="name"
      name="name"
      placeholder="John Smith"
    />
  </div>
  <div class="flex flex-col">
    <label for="email">Email</label>
    <input
      class="my-2 h-6 rounded-md border border-black px-2 py-4 focus:outline-purple-700 dark:border-white dark:bg-black dark:text-white"
      type="email"
      required
      autocomplete="email"
      id="email"
      name="email"
      placeholder="johnsmith@example.com"
    />
  </div>
  <div class="flex flex-col">
    <label for="message">Message</label>
    <textarea
      class="my-2 h-6 min-h-48 rounded-md border border-black px-2 py-2 focus:outline-purple-700 dark:border-white dark:bg-black dark:text-white"
      id="message"
      name="message"
      required
      placeholder="Hey Brenden!"></textarea>
  </div>
  <div data-netlify-recaptcha="true"></div>
  <div class="mt-4 flex justify-center">
    <button
      class="rounded-lg bg-linear-to-br from-[#f46b45] to-[#eea849] px-9 py-1 text-black transition duration-200 hover:scale-97 dark:text-white"
      type="submit">Submit</button
    >
  </div>
</form>
