---
import GithubSvg from "../svgs/github.svg";
import LinkedInSvg from "../svgs/linkedin.svg";
import XSvg from "../svgs/x.svg";
---

<footer id="footer" class="flex justify-between py-16">
  <h1 class="text-xl font-semibold">BK</h1>
  <div>
    <ul class="flex gap-16">
      <li><a href="#"
        ><GithubSvg
          width={32}
          height={32}
          class="*:fill-black! *:dark:fill-white! hover:scale-90 transition-transform duration-300"
        /></a
      ></li>
      <li><a href="#"
        ><LinkedInSvg
          width={32}
          height={32}
          class="hover:scale-90 transition-transform duration-300"
        /></a
      ></li>
      <li><a href="#"
        ><XSvg
          width={32}
          height={32}
          class="*:fill-black! *:dark:fill-white! hover:scale-90 transition-transform duration-300"
        /></a
      ></li>
    </ul>
  </div>
</footer>
