<header id="header" class="py-8 bg-muted/25 -mx-4 px-4 md:mx-0">
  <div class="flex justify-between max-w-3xl mx-auto">
    <h1 class="text-xl font-semibold"><a href="/">BK</a></h1>
    <nav>
      <ul class="flex gap-8">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
