---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...props } = Astro.props;
---

<a
  {...props}
  class:list={[
    "not-prose w-xs flex justify-center bg-indigo-500 text-white rounded-xl py-2 hover:scale-98 transition-transform duration-300",
    className,
  ]}
>
  <slot />
</a>
