---
const { text, href } = Astro.props;
---

<li
  class="my-2 h-14 cursor-pointer p-0 text-lg hover:rounded-md hover:bg-neutral-300 dark:hover:bg-neutral-500"
>
  <a
    class="m-0 flex h-full w-full items-center pl-6"
    href={href}
    aria-label={text}>{text}</a
  >
</li>
