---

---

<nav
    class="flex flex-row justify-between px-6 py-2 drop-shadow-lg z-10 fixed w-full bg-white"
>
    <span
        class="text-4xl font-bold hover:rotate-[360deg] duration-500 ease-in-out"
        ><a href="#">BK</a></span
    >
    <div class="hidden md:flex items-center">
        <ul
            class="hidden md:flex flex-row justify-evenly w-full md:mx-auto md:items-center md:space-x-20 lg:space-x-28"
        >
            <li><a class="text-lg" href="/">Home</a></li>
            <li><a class="text-lg" href="/about/">About</a></li>
            <li>
                <a class="text-lg" href="/projects/">Projects</a>
            </li>
            <li>
                <a class="text-lg" href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
    <div class="md:hidden">
        <div
            class="navbar-burger cursor-pointer inline-flex items-center hover:bg-gray-200 rounded-md p-2"
        >
            <button aria-label="Open menu button"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#000000"
                    ><path
                        d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                    ></path></svg
                ></button
            >
        </div>
        <div
            class="navbar-close cursor-pointer hidden items-center hover:bg-gray-200 rounded-md p-2"
        >
            <button aria-label="Close menu button"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#000000"
                    ><path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                    ></path></svg
                ></button
            >
        </div>
    </div>
</nav>

<div
    class="navbar-menu fixed drop-shadow-lg hidden mb-5 bg-white w-full z-20 mt-12"
>
    <ul>
        <li
            class="text-lg py-3 px-6 cursor-pointer hover:bg-gray-100 hover:rounded-md"
        >
            <a href="/">Home</a>
        </li>
        <li
            class="text-lg py-3 px-6 cursor-pointer hover:bg-gray-100 hover:rounded-md"
        >
            <a href="/about/">About</a>
        </li>
        <li
            class="text-lg py-3 px-6 cursor-pointer hover:bg-gray-100 hover:rounded-md"
        >
            <a href="/projects/">Projects</a>
        </li>
        <li
            class="text-lg py-3 px-6 cursor-pointer hover:bg-gray-100 hover:rounded-md"
        >
            <a href="/contact/">Contact</a>
        </li>
    </ul>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const burger = document.querySelector(".navbar-burger");
        const menu = document.querySelector(".navbar-menu");
        const close = document.querySelector(".navbar-close");

        if (burger && menu && close) {
            burger.addEventListener("click", function () {
                menu.classList.toggle("hidden");
                this.classList.toggle("hidden");
                close.classList.toggle("hidden");
                // done to avoid issues with hidden and inline-flex being together
                close.classList.toggle("inline-flex");
            });

            close.addEventListener("click", function () {
                menu.classList.toggle("hidden");
                burger.classList.toggle("hidden");
                this.classList.toggle("hidden");
                // done to avoid issues with hidden and inline-flex being together
                this.classList.toggle("inline-flex");
            });

            window.addEventListener("resize", function () {
                if (
                    this.innerWidth >= 768 &&
                    !menu.classList.contains("hidden")
                ) {
                    menu.classList.toggle("hidden");
                    burger.classList.toggle("hidden");
                    close.classList.toggle("hidden");
                }
            });
        }
    });
</script>
