---

---

<nav class="flex flex-row justify-between px-4 py-2 drop-shadow-lg z-20">
    <span class="text-3xl"><a href="#">BK</a></span>
    <div class="hidden md:block">
        <ul
            class="hidden md:flex flex-row justify-evenly md:w-auto md:mx-auto md:items-center md:space-x-20 lg:space-x-36"
        >
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="md:hidden">
        <div
            class="navbar-burger inline-flex items-center hover:bg-gray-200 rounded-md p-2"
        >
            <button
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#000000"
                    ><path
                        d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                    ></path></svg
                ></button
            >
        </div>
        <div
            class="navbar-close hidden items-center hover:bg-gray-200 rounded-md p-2"
        >
            <button
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#000000"
                    ><path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                    ></path></svg
                ></button
            >
        </div>
    </div>
</nav>

<div
    class="navbar-menu absolute drop-shadow-lg hidden mb-5 bg-white w-full z-10 mt-12"
>
    <ul>
        <li class="px-4 py-2 cursor-pointer hover:bg-gray-100 hover:rounded-md">
            <a href="#">Home</a>
        </li>
        <li class="px-4 py-2 cursor-pointer hover:bg-gray-100 hover:rounded-md">
            <a href="#">About</a>
        </li>
        <li class="px-4 py-2 cursor-pointer hover:bg-gray-100 hover:rounded-md">
            <a href="#">Projects</a>
        </li>
        <li class="px-4 py-2 cursor-pointer hover:bg-gray-100 hover:rounded-md">
            <a href="#">Contact</a>
        </li>
    </ul>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const burger = document.querySelector(".navbar-burger");
        const menu = document.querySelector(".navbar-menu");
        const close = document.querySelector(".navbar-close");

        if (burger && menu && close) {
            burger.addEventListener("click", function () {
                menu.classList.toggle("hidden");
                burger.classList.toggle("hidden");
                close.classList.toggle("hidden");
                // done to avoid issues with hidden and inline-flex being together
                close.classList.toggle("inline-flex");
            });

            close.addEventListener("click", function () {
                menu.classList.toggle("hidden");
                burger.classList.toggle("hidden");
                close.classList.toggle("hidden");
                // done to avoid issues with hidden and inline-flex being together
                close.classList.toggle("inline-flex");
            });
        }
    });
</script>
