---



const { text, href } = Astro.props;
---

<li>
  <a
    class="rounded-md p-2 text-lg transition-colors duration-200 ease-in-out hover:bg-neutral-300 dark:hover:bg-neutral-500"
    href={href}
    aria-label={text}>{text}</a
  >
</li>
