---
import { Image } from "astro:assets";
import type { ProjectType } from "../types/project-type";

interface Props extends ProjectType {}

const { title, description, image } = Astro.props;
---

<a
  href="#"
  class="not-prose bg-neutral-100 dark:bg-neutral-950 p-3 rounded-lg flex flex-col gap-2 hover:scale-99 transition-transform duration-300"
>
  <div class="overflow-hidden rounded-md bg-neutral-800">
    <Image
      src={image}
      alt={title}
      layout="fixed"
      class="w-full aspect-video object-contain"
    />
  </div>
  <h3 class="text-xl font-semibold">{title}</h3>
  <p>{description}</p>
</a>
