---

---

<div
    class="flex h-8 min-w-36 items-center justify-center rounded-lg bg-linear-to-br from-[#f46b45] to-[#eea849] px-4 py-2"
>
    <div class="text-sm font-semibold text-black dark:text-white">
        <slot />
    </div>
</div>
