---
const { title } = Astro.props;
---

<section class="flex justify-center md:min-h-64">
  <div class="flex max-w-3xl flex-1 flex-col items-center justify-center px-4">
    <h1
      class="py-8 text-center text-4xl leading-tight font-semibold md:text-6xl"
    >
      {title}
    </h1>
  </div>
</section>
