---
import TagContainer from "../../components/TagContainer.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import CalculatorImage from "../../images/calculator.png";

const techStack: Array<string> = ["HTML", "CSS", "JavaScript"];

const githubLink = "https://github.com/brendokht/odin-calculator";
---

<Layout>
  <h1>Calculator</h1>
  <section id="summary">
    <h2>Summary</h2>
    <p>
      Odin Calculator is a simple web calculator made with plain HTML, CSS and
      JS. It is a project a part of The Odin Project. It is simply a calculator
      with some basic functionality.
    </p>
  </section>
  <section id="tech-stack">
    <h2>Tech Stack</h2>
    <TagContainer tags={techStack.map(t => ({ text: t }))} />
  </section>
  <section id="images">
    <h2>Images</h2>
    <h3>Preview</h3>
    <Image
      src={CalculatorImage}
      alt={"Calculator"}
      layout="fixed"
      class="w-full aspect-video object-contain"
      loading="eager"
    />
  </section>
  <section id="cta">
    <h2>Source Code</h2>
    <p>The source code is available on GitHub <a href={githubLink}>here</a>.</p>
  </section>
</Layout>
