---
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";

const techStack: Array<string> = [
  "Astro",
  "Tailwind CSS",
  "TypeScript",
  "Bun",
  "Netlify",
];

const githubLink = "https://github.com/brendokht/personal-website";
---

<Layout>
  <h1>Personal Website</h1>
  <section id="summary">
    <h2>Summary</h2>
    <p>
      This is the website you are currently on! This is an Astro-made website to
      show off my experience, projects, and more about me! This is the project
      where I learned Tailwind CSS and Astro, and I try to keep it up to date as
      best as possible.
    </p>
  </section>
  <section id="tech-stack">
    <h2>Tech Stack</h2>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-2 md:gap-6">
      {techStack.map((tt) => <Tag text={tt}/>)}
    </div>
  </section>
  <section id="cta">
    <h2>Source Code</h2>
    <p>The source code is available on GitHub <a href={githubLink}>here</a>.</p>
  </section>
</Layout>
