---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en" class="scroll-smooth dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brenden Kohut | Software Developer</title>
  </head>
  <body class="flex flex-col px-4 md:px-0! bg-background text-foreground">
    <Header />
    <main
      class="flex flex-col gap-16 mx-auto w-full prose dark:prose-invert max-w-3xl *:prose-indigo min-h-[calc(100vh-188px)] py-8"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
