---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en" class="scroll-smooth dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brenden Kohut | Software Developer</title>
  </head>
  <body
    class="flex flex-col max-w-4xl mx-auto bg-white dark:bg-neutral-800 dark:text-white"
  >
    <Header />
    <main class="flex flex-col gap-16 *:prose-indigo min-h-[calc(100vh-316px)]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
